<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>R2中文专题站</title>
	<meta content="R2,R2中文,R2专题站，R2天赋模拟器" name="keywords" />
	<meta content="无限制PK R2中文专题站 R2天赋模拟器 R2玩家论坛" name="description" />

</head>

<body>
	<div id="app" class="app">
		<router-view></router-view>
	</div>
	<script src="https://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js"></script>
	<script>
        window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"2",
                "bdMiniList":false,
                "bdPic":"",
                "bdStyle":"0",
                "bdSize":"16"},
            "share":{}
        };
	</script>
</body>

</html>